/* Styles go here */

#player-1 {
  background-color: ;
  font: 
  
}

#player-2 {
  background-color: mediumseagreen;
  padding: 0 16px 16px 16px;
}


#rock {
  background-color: orange;
  color: black;
  border-color: orange;
  
}

#paper {
  
}

